# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\DOCUMENTS\JAVA\JAVA_DESKTOP\DHKTPM13A_XAYDUNGPHANMEM_NHOM04\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
